<!DOCTYPE html>
<html>
  <%- include('../head') -%>
  <body ng-app="">
    <%- include("../navbar") %>
    <div id="mainPage" style="height: 100%;">
      <%- include('../sidebar2') -%>
      <div class="column col-xs-12 col-sm-9 col-lg-10" style="margin:auto" id="main">
        <div class="row">
          <div class="col-md-12">
            <input type="text" id="search-box" style="margin-bottom: 2%" class="form-control" onkeyup="updateList(this.value, 'search');" placeholder="Search here..." />
        
            <ul class="list-group">
              <li class="list-group-item list-group-item-primary">Total Users</li>
                  <li class="list-group-item">
                    Total <b><%= list.length %></b> user<%= list.length != 1 ? "s have" : " has" %> signed up.
                </li>
        
            </ul>
            <ul class="list-group">
              <li class="list-group-item list-group-item-primary">Results <img style="display:none" id="searchLoad" height="22" src="/images/logo.gif"></li>
              <div id="user-list">
              <% for(var user of list) { %>
                <li class="list-group-item">
                    <img src="<%= user.profile_picture %>" class="logo">
                    <b><a href="/u/@<%= user.username %>" id="list-username"><%= user.username %></a></b>
                </li>
              <% } %>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="notify_message" class=" notify_message-success">
    	<center>Search for people on Friendly...</center>
    </div>
    <%- include('../tabs') -%>
    <%- include('../footer') -%>
  </body>
   <script type="text/javascript" src="/javascripts/search.js"></script>

</html>
