<!DOCTYPE html>
<html>
  <%- include('../head') -%>
  <link rel="stylesheet" type="text/css" href="/stylesheets/moment.css">
  <body>
    <%- include("../navbar") %>
    <style>
    #sidebar,
    #main {
      background: #fff;
    }
    </style>
    <br><br><br>
    <%- include('../sidebar2') %>
    <div class="col-xs-12 col-sm-9 col-lg-10" style="margin:auto" id="main">

        <div class="row profile">
        <div class="col-md-3">
          <div class="profile-sidebar">
            <div class="profile-userpic">
              <img src="<%= u.profile_picture %>" class="img-responsive" alt="">
            </div>
            <div class="profile-usertitle">
              <div class="profile-usertitle-name">
                <a href="<%= u.profile_url || '' %>">@<%= u.username %></a><br>
                (<%= u.name %>)
              </div>
              <div class="profile-usertitle-job">
               since <%= u.since %>
              </div>
              <div class="profile-user-desc">
                <%= u.bio %>
              </div>
            </div>
            <div class="profile-userbuttons">
              <div class="row">
                <% if(u.id != userId) { %><div class="col-md-6"><button type="button" id="follow-btn" data-follow="<%= u.username %>" style="margin-top:5px" class="btn btn-primary btn-sm"><%= u.friendlyFollowers.find(x => x.id === userId) ? "Unfollow" : "Follow" %></button></div>
                <div class="col-md-6"><a type="button" href="/chat/<%= u.id %>" style="margin-top:5px" class="btn btn-primary btn-sm">Message</a></div><% } %>
              <% if(u.email) { %><div class="col-md-6"><a type="button" style="margin-top:5px" href="mailto:<%= u.email %>" class="btn btn-primary btn-sm">Email</a></div><% } %>
              </div>
            </div>
            <div class="profile-usermenu">
              <ul class="nav">
                <li name="repos" class="tab active">
                  <a href="#">
                    <i class="fas fa-user-astronaut"></i>
                    Followers
                  </a>
                </li>
                <li name="overview" class="tab">
                  <a href="#">
                  <i class="glyphicon glyphicon-home"></i>
                  Pinned Posts </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div id="overview" style="display: none" class="profile-content tabs">
                <h2>Posts</h2><br>
                <% if(u.posts) {
                  for(var x=0;x<u.posts.length;x++) {
                  if(u.posts[x].static_url) { %>
                    <blockquote>
                      <img src="<%= u.posts[x].static_url %>" class="feed-view-img">
                    </blockquote>
                <%} else { %>
                  <blockquote>
                      <a href="/post/<%= u.posts[x]._id %>"><%= u.posts[x].caption.length > 10 ? u.posts[x].caption.slice(0, 10) + "..." : u.posts[x].caption %></a> posted on <%= new Date(u.posts[x].createdAt.toString()).toISOString().split("T")[0] %>
                  </blockquote>
                <% } }} %>
          </div>
          <div id="repos" class="profile-content tabs">
            <h2>Followers</h2>
            <div class="row">
              <%- u.friendlyFollowers.map(r => `
              <div class="col-md-6">
                <div class="gram-card">
                  <div class="gram-card-header">
                    <h4>
                      <a class="gram-card-content-user" href="/u/@${r.username}">${r.name}(@${r.username})</a>
                    </h4>
                  </div>
                  <br>
                  <div class="gram-card-content">
                    <span class="label label-info">${r.bio}</span><br><br>
                  <p><i class="fa fa-users"></i> ${r.friendlyFollowers.length} ${r.friendlyFollowers.length == 1 ? "follower" : "followers"}<br>&nbsp;<br><i class="fas fa-beer"></i> ${r.posts.length} ${r.posts.length === 1 ? "post" : "posts"}</p>
                </div>
              </div>
              </div>
            `).join("") %>
            </div>
          </div>
        </div>
      </div>

  </div>

    <div id="notify_message" class="notify_message-success">
    	<center>Follow @<%= user.username %>!</center>
    </div>
    <br>
    <br>
    <%- include('../footer') -%>
    <%- include('../tabs') -%>
    <script>
    var tabs = $(".tab");
    tabs.on("click", function(e) {
      let tab = this;
      e.preventDefault();
      tabs.removeClass("active");
      $(tab).addClass("active");
      $(".tabs").fadeOut(500,function() {
        $("#" + $(tab).attr("name")).delay(500).fadeIn();
      });
      return false;
    });
  </script>
  </body>
  <script type="text/javascript" src="/javascripts/follow.js"></script>
</html>
