<!DOCTYPE html>
<html>
  <%- include('../head') -%>
  <link rel="stylesheet" type="text/css" href="/stylesheets/moment.css">
  <script src="/javascripts/codemirror.js"></script>
<link rel="stylesheet" href="/stylesheets/codemirror.css">
<script src="/javascripts/mode/javascript/javascript.js"></script>
  <body>
<%- include("../navbar") %>
    <div class="container">
      <div class="row" style="margin-top:15%">
        <div class="col-md-5">

      <form action="/me/upload" method="post" enctype="multipart/form-data">
        <div class="gram-card">
    <div class="gram-card-header">
      <img src="<%= user.profile_picture %>" class="gram-card-user-image">
      <a class="gram-card-user-name" href="/u/@<%= user.username %>"><%= user.username %></a>

    </div>
<br>
<br>
    <div class="gram-card-image">
      <center>
         <div class="upload-btn-wrapper">
         <button class="btn agradient btn-action whoop" id="post">   <i class="fa fa-lg fa-upload"></i> Upload an image (optional)
         </button>
         <input type='file' name='filetoupload' onchange="readURL(this);" id="file"/>
        </div>
        <div id="video-priview">

        </div>
        <img src="" id="blah" class="img-responsive">
      </center>
    </div>

    <div class="gram-card-content">
      <p><br>
        <input type="text" name="caption" placeholder="some_cool_text" required class="form-control">
        <select class="form-control" name="type" style="margin-top:2%" required>
          <option>thoughts</option>
          <option>promotions</option>
          <option>tutorials</option>
          <option>events</option>
        </select>
     </p>

      <br>

    <hr>
    </div>

    <div class="gram-card-footer">
      <button class="footer-action-icons btn btn-primary float-right" style="margin-right:2%;"><i class="glyphicon glyphicon-file-invoice"></i> Post</button>
      <p style="margin:0">By posting you agree to the <a href="/terms">terms and conditions</a></p>
    </div>

  </div>

<br>
<br>
</div>
      </form>
      <div class="col-md-2 text-center align-center">
        <p class="mx-auto">OR</p>
      </div>
    <div class="col-md-5">
      <form action="/me/upload/code" method="post"  class="gram-card">
        <textarea required name="code" id="code" height="500" class="form-control"></textarea><br>
        <div class="container-fluid">
          <input required type="text" name="caption" class="form-control" placeholder="about_your_code"><br>
          <button type="submit" class="btn btn-primary">Post</button><br><br>
        </div>
      </form>
    </div>
  </div>
</div>

  <div id="notify_message" class=" notify_message-success">
  	<center>You are now a part of openfuel!</center>
  </div>
  <%- include ../footer %>
  </body>
  <script type="text/javascript">
    show_notification('Upload something here!','success')
  </script>
  <script type="text/javascript">
      CodeMirror.fromTextArea(document.getElementById("code"), {
        value:"/** Enter your code here **/",
        autocorrect:true,
        lineNumbers: true,
        mode: "javascript"
      });
       function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                  console.log(e);
                  var typeRegex = e.target.result.match(RegExp("data:video*"));
                  if(typeRegex) {
                    console.log("video");
                    // TODO: Add a video preview for the user
                  }
                    $('#blah')
                        .attr('src', e.target.result);
                      };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>
</html>
